---
siteName: Pet Care
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}} | {{ title }}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="\css\style.css">

    <script src="\js\main.js" defer></script>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="\images\logo.png" alt="Logo">
            <h1 id="logo-text">PET CARE</h1>
        </a>
        <!-- Navbar -->
        <!-- add site wide header content here -->
        {% include "nav-basic.njk" %}
    </header>

    {{ content | safe }}

    <!-- Footer -->
    <footer>
        <div class="footer-info">
            <div class="get-in-touch-section">
                <h5 class="footer-info-header"><span>|</span> GET IN TOUCH</h5>
                <p><i class="fa fa-location-arrow"></i>123 Street, New York, USA</p>
                <p><i class="fa fa-envelope"></i>info@example.com</p>
                <p><i class="fa fa-phone"></i>+012 345 67890</p>
            </div>
            <div class="quick-links-section">
                <h5 class="footer-info-header"><span>|</span> QUICK LINKS</h5>
                <div class="quick-links">
                    <a href="/"><i class="fa fa-long-arrow-right"></i>Home</a>
                    <a href="/about"><i class="fa fa-long-arrow-right"></i>About Us</a>
                    <a href="/service"><i class="fa fa-long-arrow-right"></i>Our Services</a>
                    <a href="/contact"><i class="fa fa-long-arrow-right"></i>Contact Us</a>
                </div>
            </div>
            <div class="newsletter-section">
                <h5 class="footer-info-header"><span>|</span> NEWSLETTER</h5>
                <form action="">
                    <div class="input-group">
                        <input type="text" placeholder="Your Email">
                        <button class="newsletter-button">Sign Up</button>
                    </div>
                </form>
                <h6>FOLLOW US</h6>
                <div class="social-media-links">
                    <a class="social-media-link" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="social-media-link" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="social-media-link" href="#"><i class="fa fa-linkedin"></i></a>
                    <a class="social-media-link" href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="website-rights">
            <p>&copy; <a class="white-text" href="#">Pet Care</a>. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>