<nav class="navbar">
  <button class="hamburger">&#9776;</button>
  <div class="menu">
      <a href="/" class="bright-green-when-hovering">HOME</a>
      <a href="/about" class="bright-green-when-hovering">ABOUT</a>
      <a href="/service" class="bright-green-when-hovering">SERVICE</a>
      <a href="/contact" class="bright-green-when-hovering">CONTACT</a>
  </div>
</nav>