$padding: 2rem 4rem 6rem 4rem;

/* Home page */
.about-us-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: $padding;
}

.about-us-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-header {
  display: flex;
}

.about-us-text {
  padding-left: 1.5rem;
  align-items: center;
}

.special-offer-header {
  display: flex;
}

/* About page */
.team-members {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.team-member {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Team Member Bio */
.team-member-img-and-bio {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 3rem;

  .team-member-info {
    max-width: 80ch; //make sure bio doesn't get too wide
  }
}

.team-member-img {
  display: flex;
  align-items: center;
}

.other-members {
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* Service page */
.services {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 3rem;
}

.service {
  display: flex;
  align-items: center;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 3rem;
}

.pricing-tables {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.service-included {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

/* Contact page */
.contact-us-header-section {
  display: flex;
}

.contact-us-input-and-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.contact-us-info {
  display: flex;
  flex-wrap: nowrap;
}

/* Footer */
.footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quick-links {
  display: grid;
  grid-template-columns: auto;
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
}

.website-rights {
  display: flex;
  justify-content: center;
}