/* ======================================================
   Responsive Styling and Layout
   =======================================================  */
$light: #F3F3F3;
$dark: #212121;

/* Make website responsive for tablet */
@media screen and (max-width: 1024px) {

    /* Header */
    .navbar {
        display: block;
        position: relative;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;

        a {
            display: none;
        }
    }

    nav {
        .show {
            display: block;
            background-color: $light;
            border-radius: 10px;

            a {
                display: block;
                padding: 10px;
                color: $dark;
            }
        }
    }

    header {
        nav {
            .hamburger {
                display: block;
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
                color: black;
                cursor: pointer;
                margin-left: auto;
                margin-top: 1.2rem;
                z-index: 2;

                &:hover {
                    background-color: $light;
                    border-radius: 6px;
                    transition-duration: 0.5s;
                }
            }
        }
    }

    /* Home page */
    .about-us-section {
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Service page */
    .pricing-tables {
        tr {
            td {
                padding: 0 2rem;
            }
        }
    }

    .price {
        span {
            font-size: 2rem;
        }
    }

    .title {
        font-size: 1rem;
    }

    /* Contact page */
    .contact-us-input-and-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-about-us {
        margin-left: 0;
    }
}

/* Make website responsive for mobile phones */
@media screen and (max-width: 480px) {

    /* Header */
    header {
        padding: 0.3rem;

        nav {
            .hamburger {
                margin-top: 0.8rem;
            }
        }
    }

    #logo-text {
        font-size: 1rem;
        margin-top: 2.4rem;
    }

    /* Home page */
    .entry-section {
        padding: 0.5rem;

        h1 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.5rem;
            max-width: 16ch;
        }

        p {
            font-size: 1rem;
            max-width: 20ch;
        }
    }

    .about-us-section {
        padding: 3rem 0;
    }

    .about-us-img {
        margin-top: 0;

        img {
            max-width: 20rem;
        }
    }

    .about-us-info {
        margin-top: 1rem;
        margin: 0.5rem 2.5rem 0 1.5rem;
    }

    .special-offer {
        padding: 0.5rem;
    }

    .so-header-text {
        h1 {
            font-size: 1.2rem;
        }
    }

    #so-text {
        padding: 0 5rem 0 1.5rem;
        line-height: normal;
        text-align: start;
    }

    /* About page */
    .header-text {
        h1 {
            font-size: 1.3rem;
        }
    }

    .team {
        padding: 0.5rem;
    }

    .team-members {
        margin: 0.5rem 0 0 1.5rem;
        flex-wrap: wrap;
        row-gap: 1.5rem;
    }

    /* Team Member Bio */
    .team-member-bio {
        padding: 0.5rem;
    }

    .team-member-img-and-bio {
        flex-wrap: wrap;
        gap: 0;
    }

    .team-member-img {
        margin-bottom: 0;

        p {
            margin-bottom: 0;
        }
    }

    .team-member-info {
        margin-top: 0;

        h4 {
            display: none;
        }

        p {
            margin-top: 0;
        }
    }

    .other-members {
        ul {
            display: grid;
            grid-template-rows: repeat(5, auto);
            row-gap: 1rem;
        }
      }

    /* Service page */
    .service-section {
        padding: 0.5rem;
    }

    .services {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #service-header {
        font-size: 0.8rem;
    }

    .testimonials-section {
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .testimonials {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .testimonial {
        margin: 0 2rem;
    }

    .pricing-plan-section {
        padding: 0.5rem;
    }

    .pricing-tables {
        padding: 1rem 1.5rem 0 1.5rem;
        justify-content: center;
        gap: 1.5rem;
    }

    #dark-row {
        height: 4rem;
    }

    .green-rows {
        height: 4rem;
    }

    /* Contact page */
    .contact-us-section {
        padding: 0.5rem;
    }

    .input {

        input,
        textarea {
            width: 16rem;
            margin-bottom: 0.5rem;
            height: 2rem;
        }

        textarea {
            height: 8rem;
        }

        button {
            width: 16.5rem;
            height: 2.5rem;
            font-size: 0.9rem;
        }
    }

    .contact-us-form {
        padding: 0;
    }

    .contact-us-info {
        i {
            font-size: 1.5rem;
        }
    }

    .info-about-us {
        padding-left: 5rem;
        background-color: white;
    }

    .text-start {
        margin: 0 0 1rem 0.5rem;

        h6 {
            font-size: 0.8rem;
        }

        span {
            font-size: 0.7rem;
        }
    }

    .contact-us-header {
        padding: 0.5rem 0 0.5rem 1rem;

        h1 {
            font-size: 1.2rem;
        }

        h4 {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }

    /* Footer */
    footer {
        font-size: 0.8rem;
    }

    .footer-info {
        padding: 0.5rem;
    }

    .footer-info-header {
        font-size: 1rem;
        margin-bottom: 0.5rem;

        span {
            display: none;
        }
    }

    .input-group {
        input {
            height: 2rem;
            background-color: white;
        }
    }

    .newsletter-button {
        height: 2.2rem;
    }

    .newsletter-section {
        h6 {
            font-size: 0.8rem;
        }
    }

    .social-media-links {
        margin-bottom: 0.5rem;
    }
}