@use 'normalize';
@use 'responsive';
@use 'typography';
@use 'layout';
@use 'nav-basic';

// If you add another partial then make sure to:
//    1. Put an underscore _ at the beginning of the name and end with .scss
//    2. add an @use above to include it. DO not add the .scss

/* ================= ===========================
  ADD YOUR CSS HERE 
  ================================================ */
  :root {
    --primary: #7AB730;
    --dark-green: #34570a;
    --light: #F3F3F3;
    --dark: #212121;
    --gray: #9b9895;
    --padding: 2rem 4rem 6rem 4rem;
    --footer-padding: 2rem 4rem;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo img {
    margin: 0.5rem 0.5rem 0 0;
    width: 3rem;
    height: 3rem;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
}

header a {
    text-decoration: none;
    color: var(--dark);
}

header a i {
    padding-right: 0.2rem;
}

header nav .hamburger {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.menu a {
    padding-left: 1rem;
    font-weight: bold;
}

.menu a:hover {
    color: var(--primary);
    transition-duration: 0.5s;
    cursor: pointer;
}

#logo-text {
    font-size: 2rem;
}

#active {
    color: var(--primary);
}

/* Home page */
.entry-section {
    background-image: url("/images/entry-img.jpg");
    background-position: center;
    background-size: cover;
    padding: var(--padding);
}

.entry-section h1 {
    font-size: 5rem;
    margin-bottom: 0;
}

.entry-section h4 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    color: var(--light);
}

.entry-section p {
    font-size: 1.3rem;
    color: var(--dark-green);
    max-width: 45ch;
}

.about-us-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: var(--padding);
}

.about-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-img img {
    max-width: 36rem;
    border-radius: 10px;
    object-fit: cover;
}

.about-us-header {
    display: flex;
}

#about-us-vertical-line {
    font-size: 6rem;
    margin: 0;
    color: var(--primary);
}

.about-us-text {
    padding-left: 1.5rem;
    align-items: center;
}

.header-text {
    padding-left: 1rem;
}

.header-text h4 {
    color: var(--primary);
    margin-top: 2rem;
}

.header-text h1 {
    color: var(--dark);
}

.about-us-info {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--light);
    border-radius: 10px;
}

.about-us-info h4 {
    color: var(--primary);
    font-size: 1.2rem;
    margin-top: 0.3rem;
    text-align: center;
}

.about-us-info p {
    color: var(--gray);
    line-height: 1.5rem;
    text-align: justify;
}

.special-offer {
    background-image: url("/images/offer.jpg");
    background-position: center;
    background-size: cover;
    padding: var(--padding);
}

.special-offer-header {
    display: flex;
}

#special-offer-vertical-line {
    color: var(--dark);
    font-size: 6rem;
    margin: 0;
}

.so-header-text {
    padding-left: 1rem;
}

.so-header-text h4 {
    margin-top: 1.5rem;
    color: var(--dark);
}

.so-header-text h1 {
    color: var(--light);
    font-size: 2rem;
    margin-top: 1.5rem;
}

#so-text {
    color: var(--light);
    max-width: 70ch;
    line-height: 1.5rem;
    text-align: justify;
}

/* About page */
#about-us-section {
    padding-top: 2rem;
}

.team {
    padding: var(--padding);
}

.team-members {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.team-member {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--light);
    border-radius: 10px;
    margin-right: 2rem;
}

.team-member a img {
    width: 100%;    
}

#team-header {
    font-size: 1.5rem;
}

.team-member a img:hover {
    border-radius: 50%;
    transition-duration: 0.5s;
}

.team-member a p {
    text-align: center;
    color: var(--dark);
}

.team-member a {
    text-decoration: none;
}

/* Team Member Bio */
.team-member-bio {
    padding: var(--padding);
}

.team-member-img-and-bio {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3rem;
}

.team-member-img {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.team-member-img img {
    max-width: 15rem;
    border-radius: 20px;
}

.team-member-img p {
    text-align: center;
    font-weight: bold;
    color: var(--dark);
}

.team-member-info h4 {
    color: var(--primary);
    text-align: center;
}

.team-member-info p {
    text-align: justify;
    color: var(--gray);
    line-height: 1.5rem;
}

/* Service page */
.service-section {
    padding: var(--padding);
    padding-top: 0;
}

.services {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;
}

.service {
    padding: 1rem;
    background-color: var(--light);
    display: flex;
    align-items: center;
}

.service i {
    color: var(--primary);
    font-size: 4rem;
    margin-right: 1rem;
}

.service i:hover {
    cursor: pointer;
    color: var(--dark-green);
    transition-duration: 0.5s;
}

.service div p {
    color: var(--gray);
}

.testimonials-section {
    padding: var(--padding);
    background-color: var(--light);
}

.testimonials {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 3rem;
}

.testimonial {
    padding: 2rem 3rem 0 3rem;
    background: white;
    border-radius: 20px;
    cursor: pointer;
}


.testimonial img {
    width: 100%;
    border-radius: 50%;
}

.testimonial img:hover {
    border-radius: 30%;
    transition-duration: 0.5s;
}

.testimonial h4 {
    margin-bottom: 0;
    text-decoration: overline;
    text-align: center;
}

.testimonial p {
    color: var(--gray);
    text-align: center;
}

.pricing-plan-section {
    padding: var(--padding);
}

.pricing-tables {
    padding: 3rem 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.pricing-tables table {
    background-color: var(--light);
    text-align: center;
}

.pricing-tables tr td {
    padding: 0 4rem;
}

.title {
    color: var(--dark);
    font-size: 1.5rem;
}

#dark-row {
    background-color: var(--dark);
    height: 6rem;
    color: white;
}

.green-rows {
    background-color: var(--primary);
    height: 6rem;
    color: white;
}

.price span {
    font-size: 2.5rem;
    font-weight: bold;
}

.service-included {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#included {
    color: var(--primary);
}

#not-included {
    color: red;
}

/* Contact page */
.contact-us-section {
    padding: var(--padding);
    padding-top: 0;
}

.contact-us-header-section {
    display: flex;
}

#contact-vertical-line {
    font-size: 8rem;
    color: var(--primary);
    margin: 0;
}

.contact-us-header {
    padding: 1rem 0 1rem 1.5rem;
}

.contact-us-header h4 {
    color: var(--primary);
    font-size: 1.2rem;
}

.contact-us-input-and-info {
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
}

.contact-us-form {
    padding: 2rem;
}

.input input, textarea {
    background-color: var(--light);
    margin-bottom: 1.5rem;
    border: none;
    padding-left: 0.5rem;
    width: 40rem;
    height: 3rem;
}

.input textarea {
    height: 11rem;
}

.input button {
    background-color: var(--primary);
    color: white;
    border: none;
    width: 40.5rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.info-about-us {
    background-color: var(--light);
    margin: 2rem;
    padding: 2.5rem;
}

.contact-us-info {
    display: flex;
    flex-wrap: nowrap;
}

.contact-us-info i {
    color: var(--primary);
    font-size: 2.5rem;
}

.text-start {
    margin: 0 0 1.5rem 1rem;
}

.text-start h6 {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    color: var(--dark);
}

.text-start span {
    color: var(--gray);
}

/* Footer */
footer {
    color: var(--gray);
    font-size: 1rem;
}

.footer-info {
    padding: var(--footer-padding);
    padding-bottom: 4rem;
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.get-in-touch-section i {
    color: var(--primary);
    padding-right: 0.5rem;
}

.quick-links {
    display: grid;
    grid-template-columns: auto;
}

.footer-info-header {
    color: var(--dark);
    font-size: 1.5rem;
}

.footer-info-header span {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.8rem;
}

.quick-links a {
    text-decoration: none;
    color: var(--gray);
    padding-bottom: 0.5rem;
}

.quick-links a:hover {
    color: var(--dark-green);
    transition-duration: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.quick-links i {
    color: var(--primary);
    padding-right: 0.5rem;
}

.input-group input {
    height: 3rem;
    background-color: white;
    border: none;
}

.newsletter-button {
    height: 3.3rem;
    width: 4rem;
    color: white;
    font-weight: bold;
    background-color: var(--primary);
    border: none;
}

.newsletter-button:hover {
    color: var(--dark);
    transition-duration: 0.5s;
    cursor: pointer;
}

.newsletter-section h6 {
    color: var(--dark);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.social-media-links i {
    color: var(--primary);
}

.social-media-links i:hover {
    color: var(--dark-green);
    transition-duration: 0.5s;
    cursor: pointer;
}

.social-media-link {
    border: 1px solid var(--primary);
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.website-rights {
    background-color: var(--dark);
    padding: var(--footer-padding);
    display: flex;
    justify-content: center;
}

.white-text {
    color: white;
    text-decoration: none;
}

/* Make website responsive for tablet */
@media screen and (max-width: 1024px) {
    /* Header */
    .navbar {
        display: block;
    }

    .menu {
        display: none;
    }

    nav .show {
        display: block;
        background-color: var(--light);
        border-radius: 10px;
    }

    nav .show a {
        display: block;
        padding: 10px;
        color: var(--dark);
    }

    header nav .hamburger {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: black;
        cursor: pointer;
        margin-left: auto;
        margin-top: 1.2rem;
    }

    header nav .hamburger:hover {
        background-color: var(--light);
        border-radius: 6px;
        transition-duration: 0.5s;
    }

    /* Home page */
    .about-us-section {
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Service page */
    .pricing-tables tr td {
        padding: 0 2rem;
    }

    .price span {
        font-size: 2rem;
    }

    .title {
        font-size: 1rem;
    }

    /* Contact page */
    .contact-us-input-and-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-about-us {
        margin-left: 0;
    }
}

/* Make website responsive for mobile phones */
@media screen and (max-width: 480px) {
    /* Header */
    header {
        padding: 0.3rem;
    }

    #logo-text {
        font-size: 1rem;
        margin-top: 2.4rem;
    }

    header nav .hamburger {
        margin-top: 0.8rem;
    }

    /* Home page */
    .entry-section {
        padding: 0.5rem;
    }

    .entry-section h1 {
        font-size: 2rem;
    }

    .entry-section h4 {
        font-size: 1.5rem;
        max-width: 16ch;
    }

    .entry-section p {
        font-size: 1rem;
        max-width: 20ch;
    }

    .about-us-section {
        padding: 3rem 0;
    }

    .about-us-img {
        margin-top: 0;
    }

    .about-us-img img {
        max-width: 20rem;
    }

    .about-us-info {
        margin-top: 1rem;
        margin: 0.5rem 2.5rem 0 1.5rem;
    }
    
    .special-offer {
        padding: 0.5rem;
    }

    .so-header-text h1{
        font-size: 1.2rem;
    }

    #so-text {
        padding: 0 5rem 0 1.5rem;
        line-height: normal;
        text-align: start;
    }

    /* About page */
    .team {
        padding: 0.5rem;
    }

    .team-members {
        margin: 0.5rem 0 0 1.5rem;
        flex-wrap: wrap;
        row-gap: 1.5rem;
    }

    /* Team Member Bio */
    .team-member-bio {
        padding: 0.5rem;
    }

    .team-member-img-and-bio {
        flex-wrap: wrap;
        gap: 0;
    }

    .team-member-img {
        margin-bottom: 0;
    }

    .team-member-img p {
        margin-bottom: 0;
    }

    .team-member-info {
        margin-top: 0;
    }

    .team-member-info p {
        margin-top: 0;
    }


    .team-member-info h4 {
        display: none;
    }

    /* Service page */
    .service-section {
        padding: 0.5rem;
    }

    .services {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #service-header {
        font-size: 0.8rem;
    }

    .testimonials-section {
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .testimonials {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .testimonial {
        margin: 0 2rem;
    }

    .pricing-plan-section {
        padding: 0.5rem;
    }

    .pricing-tables {
        padding: 1rem 1.5rem 0 1.5rem;
        justify-content: center;
        gap: 1.5rem;
    }

    #dark-row {
        height: 4rem;
    }
    
    .green-rows {
        height: 4rem;
    }

    /* Contact page */
    .contact-us-section {
        padding: 0.5rem;
    }

    .input input, textarea {
        width: 16rem;
        margin-bottom: 0.5rem;
        height: 2rem;
    }

    .input textarea {
        height: 8rem;
    }
    .input button {
        width: 16.5rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    .contact-us-form {
        padding: 0;
    }

    .contact-us-info i {
        font-size: 1.5rem;
    }

    .info-about-us {
        padding-left: 5rem;
        background-color: white;
    }

    .text-start {
        margin: 0 0 1rem 0.5rem;
    }

    .text-start h6 {
        font-size: 0.8rem;
    }

    .text-start span {
        font-size: 0.7rem;
    }

    .contact-us-header h4 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .contact-us-header h1 {
        font-size: 1.2rem;
    }

    #contact-vertical-line {
        font-size: 6rem;
    }

    .contact-us-header {
        padding: 0.5rem 0 0.5rem 1rem;
    }

    /* Footer */
    footer {
        font-size: 0.8rem;
    }
    
    .footer-info {
        padding: 0.5rem;
    }

    .footer-info-header {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .footer-info-header span {
        display: none;
    }

    .input-group input {
        height: 2rem;
        background-color: white;
    }

    .newsletter-button {
        height: 2.2rem;
    }

    .newsletter-section h6 {
        font-size: 0.8rem;
    }

    .social-media-links {
        margin-bottom: 0.5rem;
    }
}

