<nav class="navbar">
  <button class="hamburger">&#9776;</button>
  <div class="menu">
      <a href="/">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/service">SERVICE</a>
      <a href="/contact">CONTACT</a>
  </div>
</nav>